.App {
  background-image: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  color: white;
  height: 100%;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#LinkedIn{
  max-width: 5%;
}

#LinkedIn:hover{
  transform: scale(1.5);
}

#GitHub{
  max-width: 7%;
}

#GitHub:hover{
transform: scale(1.5);
}

#facebook {
  max-width: 5%;
}
#facebook:hover {
  transform: scale(1.5);
}

.flex-container {
  display:flex;
  flex-direction:column; 
  position:relative;
  }
  
  h3 {
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  }
  p {
    font-family: 'Italiana', serif;
      text-align: center;
  }
  
  h4 {
   font-family: 'Space Grotesk', sans-serif;
      text-align: center;
  }
  
  p {
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 5%;    
  margin-right: 5%
  /* margin-right: 10%; */
  }
  
  h1 {
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 10px;    
  text-align: center;
  }
  #navbar {
   position: relative;
   left:2px;
  }
  #profilePicture {
      width: 15%;          
      height:auto;  
      border-radius:50%;
  }
  
  #profilepicBackground {
      text-align: right;
  }
  
  #headerBackgroundImage {
  width: 1550px;
  height:175px;
  position: relative;
  bottom:200px;
  z-index:-2;
  }
  
  #name {
  position: relative;
  top:40px; 
  right:6px;  
  background-color: black;  
  color:red;
  text-decoration:underline;
  }
  
  #spotiweather{   
  width:65%;          
  height:auto;  
  margin: auto;
  display:block;
  }
  #movie_db{
  width:75%;
  height:auto;  
  margin: auto;
  display:block;
  }
  
  #weather-dashboard{
  width:55%;          
  height:auto;  
  margin: auto;
  display:block; 
  }
  
  #workDayimg {
      width:55%;          
      height:auto;  
      margin: auto;
      display:block; 
  }
  #work{
      text-align: center;
  }
  
  .firstProject{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
  }
  
  #firstWorktxt {
      text-align: center;
  }
  

  #note_taker{
    width:55%;          
    height:auto;  
    margin: auto;
    display:block; 
  }
  #aboutmeheader {
  text-align: center;
  }
  
  #pAboutMe {
      text-align: center;
  }
  
  #phoneNumber {
      text-align: center;
  }
  
  #emailAddress {
      text-align: center;
  }
  
  @media screen and (max-width: 768px) {
      main,
      header {
        flex-direction: column;
      }
    }
    
  #form {
    max-width: 50%;
    margin-left: 25%;
  }
  #logos {
    margin-bottom: .8%;
  }
